#gallery{
    margin: 6em 10%;

    -moz-column-count: 1;
    -moz-column-gap: 2em;
    -webkit-column-count: 1;
    -webkit-column-gap: 2em;
    column-count: 1;
    column-gap: 2em;
}

@media (min-width: 600px){
    #gallery{
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media (min-width: 1000px){
    #gallery{
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;    
    }
}
@media (min-width: 1400px){
    #gallery{
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;    
    }
}

.gallery-header{
    margin-bottom: 2em;
}

.gallery-header h2{
    margin: 0;
    margin-bottom: 0.5em;
}

.gallery-img{
    position: relative;
    overflow: hidden;
    margin-bottom: 2em;
}

.gallery-img img{
    width: 100%;
}

.gallery-zoom{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: rgba(247, 247, 242, 0.5);
    color:  #1d1d1d;
    z-index: 1;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: height 0.5s ease-out 0s,
                width 0.5s ease-out 0s;
    -webkit-transition: height 0.5s ease-out 0s,
                        width 0.5s ease-out 0s;
}

.gallery-zoom span{
    font-size: 2em;
    opacity: 0;
    transition: opacity 0.2s ease-out 0s;
    -webkit-transition: opacity 0.2s ease-out 0s;
}

.gallery-zoom-show{
    width: 150%;
    height: 150%;
}













/* ----OPEN-GALLERY------ */

#open-gallery{
    position: relative;
    width: 100%;
    height: 100%;
}

#open-gallery div{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    
    transition: all 0.6s ease-out 0s;
    -webkit-transition: all 0.6s ease-out 0s;
}

#open-gallery img{
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
}

#open-gallery div:hover img{
    box-shadow: 0 0 1rem 0.8rem rgba(0, 0, 0, 0.3);
}

.gallery-img-6 img,
.gallery-img-0 img{
    max-width: 60%;
    max-height: 25%;
}

.gallery-img-5 img,
.gallery-img-1 img{
    z-index: 4;
    max-width: 60%;
    max-height: 50%;
}

.gallery-img-4 img,
.gallery-img-2 img{
    z-index: 5;
    max-width: 80%;
    max-height: 75%;
}

.gallery-img-3{
    left: 25%;
    right: 25%;
    justify-content: center;
}

#open-gallery .gallery-img-3 img{
    max-width: 90%;
    z-index: 6;
    max-height: 100%;
}

.gallery-img-2,
.gallery-img-1,
.gallery-img-0{
    right: 50%;
    justify-content: flex-start;
}

.gallery-img-6,
.gallery-img-5,
.gallery-img-4{
    left: 50%;
    justify-content: flex-end;
}

.gallery-img-0{
    left: 0;
}
.gallery-img-6{
    right: 0;
}

.gallery-img-1{
    left: 10%;
}
.gallery-img-5{
    right: 10%;
}

.gallery-img-2{
    left: 20%;
}
.gallery-img-4{
    right: 20%;
}



