/* -------------Pop-Up------------------ */
#overlay-pop-up{    
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
}

.pop-up{
    background-color: #1d1d1de7;
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2em;
    max-width: 80%;
    width: 30em;
}

.pop-up input,
.pop-up textarea,
.pop-up button{
    margin-bottom: 1em;
}

.pop-up input{
    color: #F7F7F2;
    box-sizing: border-box;
    border-bottom: 2px solid #F7F7F2;
    background-color: rgba(0, 0, 0, 0);
}

.pop-up input.error{
    border-bottom: 2px solid #C20114;
    color: #C20114;
}

.pop-up textarea{
    margin-top: 0.5em;
}

.pop-up textarea.error{
    border-bottom: 1px solid #C20114;
    color: #C20114;
}

.pop-up button{
    width: fit-content;
    padding: 0.5em 1em;
    font-weight: 600;
    align-self: flex-end;
    background-color: #F7F7F2;
    color: #1d1d1de7;
}

.alert{
    background-color: #1d1d1de7;
    color: #F7F7F2;
    font-size: 4em;
    padding: 1em;
    text-align: center;
}