@import url('gallery.css');
@import url('slider.css');
@import url('popUp.css');
@import url('comments.css');


/* colors:
black: #00000;
transparentBlack: #1d1d1d(e7);
baby-powder: #F7F7F2;
dark-green: #07393C;
red: #C20114;
 */

body{
    margin: 0;
    padding: 0;
    font-family: Roboto-Light, sans-serif;
    font-size: 0.8em;
}

@media (min-width: 1000px){
    body{
        font-size: 1em;
    }
}
@media (min-width: 1400px){
    body{
        font-size: 1.2em;
    }
}
@media (min-width: 2000px){
    body{
        font-size: 1.5em;
    }
}

h2{
    font-size: 4em;
    align-self: flex-start;
}

input, textarea, button{
    outline: none;
    border: 0;
    font-family: Roboto-Light, sans-serif;
    box-sizing: border-box;
    resize: none;
}

button:active{
    border: 0;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-height: 300px;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 2em 10%;
    box-sizing: border-box;
    z-index: 999;
    background-color: rgba(29, 29, 29, 0.5);
    outline: none;
}

@font-face{
    font-family: Roboto-Thin;
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
}

@font-face{
    font-family: Roboto-Light;
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}

@font-face{
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face{
    font-family: Comfortaa-Medium;
    src: url('../fonts/Comfortaa/Comfortaa-Medium.ttf');
}

@font-face{
    font-family: Apice-Bold;
    src: url('../fonts/Apice/Apice-Bold.otf');
}







/* ------------------LOADER----------------------------- */
.download{
    visibility: hidden; 
    height: 100vh;
    overflow: hidden;
    width: 100%;   
}

.loader{
    visibility: visible;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
}
    
.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.dot {
    background: black;
    margin: 5px;
    animation-name: loader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
    
.dot:nth-child(1) {
    animation-delay: 0.2s;
}
.dot:nth-child(2) {
    animation-delay: 0.4s;
}
.dot:nth-child(3) {
    animation-delay: 0.6s;
}
.dot:nth-child(4) {
    animation-delay: 0.8s;
}
.dot:nth-child(5) {
    animation-delay: 1s;
}
    
@keyframes loader {
    from {
        width: 2px;
        height: 2px;
        border-radius: 50%;
    }
    to {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}






/* ---------------BACKGROUND------------------------- */
.move{
    transition: transform 1s ease-in 0s;
    -webkit-transition: transform 1s ease-in 0s;
    -webkit-transition: -webkit-transform 1s ease-in 0s;
}

#background{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 100vw;
    overflow: hidden;
}

@media screen and (min-width: 750px){
    #background{
        min-height: 700px;
    }
}



/* -------------MENU------------------- */
nav{
    height: 6em;
    width: 100%;
    transition: transform 0.5s ease-in 0s;
    -webkit-transition: transform 0.5s ease-in 0s;
    -webkit-transition: -webkit-transform 0.5s ease-in 0s;

    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);

    background-color: #1d1d1de7;
    height: 80vh;
    position: relative;
    z-index: 99;
}
.menu-mobile{
    transform: none;
    -webkit-transform: none;
}

.menu{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    font-family: Comfortaa-Medium, sans-serif;
}

.menu-item{
    list-style: none;
}

.menu-link{
    text-decoration: none;
    color: white;
    padding: 0.5em;
}

.menu-link:hover{
    color: #C20114;
}

.menu-item:last-child{
    background-color: #ffffff;
    color: black;
    width: 6em;
    text-align: center;
    padding: 1em;
    cursor: pointer;
}

.menu-item:last-child:hover{
    background-color: #C20114;
    color: white;
}




/* -----MENU-BURGER------- */
.menu-burger{
    display: flex;
    align-items: center;
    background-color: #1d1d1de7;
    color: white;
    width: fit-content;
    box-sizing: border-box;
    padding: 1em 2em;
}

.menu-burger span{
    font-size: 1.5em;
}

.menu-arrow{
    display: flex;
    margin-left: 1em;
}

.menu-arrow div{
    background-color: #ffffff;
    width: 5px;
    height: 1em;
    border-radius: 2px;
    transition: transform 0.5s ease-in-out 0s;
    -webkit-transition: transform 0.5s ease-in-out 0s;
    -webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
    cursor: pointer;   
}
.menu-arrow div:nth-child(2){
    height: 2em;
}
.menu-arrow div:first-child{
    transform: rotate(-45deg) translate3d(-200%, 100%, 0);
    -webkit-transform: rotate(-45deg) translate3d(-200%, 100%, 0);
}
.menu-arrow div:last-child{
    transform: rotate(45deg) translate3d(200%, 100%, 0);
    -webkit-transform: rotate(45deg) translate3d(200%, 100%, 0);
}

.menu-arrow-up .menu-arrow div:first-child{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.menu-arrow-up .menu-arrow div:last-child{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

@media screen and (min-width: 750px){
    nav {
        width: 60%;
        background-color: rgba(255, 255, 255, 0);
        height: auto;
        transform: none;
        margin-top: 2em;
    }

    .menu{
        display: flex;
        flex-direction: row;
    }

    .menu-link{
        color: black;
    }

    .menu-item:last-child{
        background-color: #1d1d1de7;
        color: white;
    }

    .menu-burger{
        display: none;
    }
}






/* ------MAIN-HEADER------- */
.main-header{
    position: absolute;
    bottom: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

h1{
    margin: 0;
    font-size: 3em;
    font-weight: 300;
    margin-left: 1.5em;
}

.main-header span{
    display: block;
    font-family: Apice-Bold, serif;
}

@media screen and (min-width: 600px){
    h1 {
        font-size: 4em;
    }
}
@media screen and (min-width: 800px){
    h1 {
        font-size: 5em;
    }
}
@media screen and (min-width: 1200px){
    h1 {
        font-size: 6em;
    }
}











/* ----position image on background---- */
.macbook,
.cactus,
.ipad,
.phone,
.coffee{
    position: absolute;
    z-index: -1;
}

.macbook .img,
.cactus .img,
.ipad .img,
.phone .img,
.coffee .img{
    position: relative;
    width: 100%;
    height: 100%;
}

.macbook img,
.cactus img,
.ipad img,
.phone img,
.coffee img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

.macbook{
    top: 0;
    right: 0;
    width: 75%;
    height: 60%;
    transform: translate3d(5em, -5em, 0);
    -webkit-transform: translate3d(5em, -5em, 0);
}
.macbook img{
    top: 0;
    right: 0;
}

.cactus{
    top: 3em;
    width: 40%;
    height: 50%;
    left: -15%;
    transform: translate3d(-3em, -2em, 0);
    -webkit-transform: translate3d(-3em, -2em, 0);
}
.cactus img{
    right: 1em;
}
@media screen and (min-width: 1100px){
    .cactus{
        left: auto;
    }
}

.ipad{
    top: 25%;
    left: 0;
    width: 50%;
    height: 70%;
    transform: translate3d(-5em, 0, 0);
    -webkit-transform: translate3d(-5em, 0, 0);
    z-index: 0;
}
.ipad img{
    left: 0;
}

.phone{
    top: 55%;
    right: 0;
    width: 30%;
    height: 30%;
    transform: translate3d(5em, 2em, 0);
    -webkit-transform: translate3d(5em, 2em, 0);
}
.phone img{
    right: 10%;
}
@media screen and (min-width: 700px){
    .phone{
        top: auto;
        bottom: 10%;
    }
}

.coffee{
    bottom: 0;
    left: 15%;
    width: 20%;
    height: 20%;
    transform: translate3d(-5em, 3em, 0);
    -webkit-transform: translate3d(-5em, 3em, 0);
}
.coffee img{
    bottom: 0;
    left: 0;
}














/* -----WATCH ON IPAD------ */
.ipad-unlock{
    position: relative;
}

.ipad-text{
    color: #ffffffa8;
    font-family: Roboto-Thin;

    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(-18deg);
    position: absolute;
    top:35%;
    width: 40%;
}
@media screen and (max-width: 600px){
    .ipad-text{
        font-size: 0.8em;
        top: 40%
    }
}
@media screen and (max-width: 500px){
    .ipad-text{
        font-size: 0.6em;
        top: 40%
    }
}

.ipad-watch{
    font-size: 2em;
}

.ipad-date{
    font-size: 0.6em;
}



/* FOOTER */
footer{
    background: #1d1d1de7;
    color: #ffffffa8;
    width: 100%;
    display: flex;
    border-top: 2px solid black;
    box-sizing: border-box;
    padding: 4em;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 600px){
    footer{
        flex-direction: column;
    }

    footer div:last-child{
        margin-top: 2em;
    }
}

footer div{
    font-size: 1.2em;
}

footer a{
    text-decoration: none;
    color: #ffffffa8;
    margin: 0 1em;
}